<div class="home-container">
  <!-- Ürünler -->
  <div class="products">
    <div class="product" *ngFor="let product of paginatedProducts">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
      <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">{{ product.price | currency }}</p>
      </div>
    </div>
  </div>

  <!-- Sayfalama -->
  <div class="pagination">
    <!-- Sayfalama butonları kaldırıldı -->
  </div>
</div>
